<div class="grid grid-cols-2 gap-4 p-12">
  <div class="grid place-items-center">
    <div class="text-white text-[4em] font-bold ml-20 align-middle">
      <p>Have a project?</p>
      <p>We would love to help.</p>
    </div>
  </div>

  <div class="bg-black p-16">
    <p class="text-2xl text-gray-400 my-4">I'm interested in...</p>

    <div class="grid grid-rows-2 grid-cols-3 gap-4 my-2">
      <button
        class="hover:bg-white hover:text-black text-white transition ease-in delay-150 border-solid border-2 p-4">UI/UX
        design</button>
      <button
        class="hover:bg-white hover:text-black text-white transition ease-in delay-150 border-solid border-2 p-4">Website</button>
      <button
        class="hover:bg-white hover:text-black text-white transition ease-in delay-150 border-solid border-2 p-4">Branding</button>
      <button
        class="hover:bg-white hover:text-black text-white transition ease-in delay-150 border-solid border-2 p-4">Design
        System</button>
      <button
        class="hover:bg-white hover:text-black text-white transition ease-in-out delay-150 border-solid border-2 p-4">Other</button>
    </div>




    <form>
      <div class="flex flex-col">
        <input autocomplete="off" class="text-xl bg-black mt-4 py-2 border-b-2" type="text" name="name" id="name"
          placeholder="Your name">
      </div>

      <div class="flex flex-col">
        <input autocomplete="off" class="text-xl bg-black mt-4 py-2 border-b-2" type="text" name="email" id="email"
          placeholder="Your email">
      </div>

      <div class="flex flex-col">
        <input autocomplete="off" class="text-xl bg-black mt-4 py-2 border-b-2" type="text" name="project" id="project"
          placeholder="Tell us about your project">
      </div>

    </form>

    <div>
      <button class="my-4 text-white py-2 font-bold"><i class="fa fa-paperclip" aria-hidden="true"></i>
        Attachment</button>
    </div>

    <div>
      <button class="bg-white py-2 px-4 font-bold">Send request</button>
    </div>

  </div>
</div>